nav{
    background-color: #212529;
}

ul li .nav-link{
    color:white !important;
}

ul li .nav-link:active{
    color:tomato !important;
}
.navbar-brand{
    color:black;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Texturina', serif;
    font-style: italic;

}

.nav-menu{
    font-size:20px;
    font-family: 'Poppins', sans-serif;
    color:white;
    font-weight: bold;

}

.nav-menu:active{
    color: green;
    
}

NavLink{
    font-family: 'Poppins', sans-serif;;
}

.nav-img{
    height: 80px;
    width: 250px;
}