.navbar-brand{
    color:black;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Texturina', serif;
    font-style: italic;

}

.nav-menu{
    font-size:20px;
    font-family: 'Poppins', sans-serif;
    color:black;
    font-weight: bold;

}

.nav-menu:active{
    color: green;
    
}

NavLink{
    font-family: 'Poppins', sans-serif;;
}

.nav-img{
    height: 80px;
    width: 250px;
}